<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Xero - Add Bank Account"  parallel="none" >
    <test name="Login and Add bank account">
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>